<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    <title>Sabina Romero</title>
  </head>
  <body>
    <!--blog-->
   <div class="container">
     <h2 class="my-5 text-center text-primary">Inicio</h2>
     <hr>
     <div class="row">
      <!-- entradas -->
       <div class="col-lg-9">
         <!-- entrada individual -->
         <div class="card-body">
          <a href="single.html">
            <h1 align="center">¿Qué es un Fanfiction?</h1>
          </a>
           <p class="small mb-0">Fecha: 17 de octubre de 2020</p>
           <p class="small mb-0">Sabina Romero</p>
           <p class="small">Categorías: <a href="#">Fanfiction</a> | <a href="#">ficcion</a> Etiquetas: <a href="#">friki</a> | <a href="#">literatura</a></p>
           <img src="assets/img/i.jpg"  alt="" class="img-fluid mb-3" width="500" height="400"> 
           <p style="text-align:justify">Aprovechemos el gran conocimiento de nuestra amiga Wikipedia para introducir el tema:</p>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p style="text-align:justify">  El término fanfiction o fan fiction (literalmente, “ficción de fans”), 
              a menudo abreviado fanfic o simplemente fic, hace referencia a relatos de 
              ficción escritos por fans de una obra literaria o dramática 
              (ya sea película, novela, programa de televisión, videojuego, anime…). 
              En estos relatos se utilizan los personajes, situaciones y ambientes 
              descritos en la historia original o de creación propia del autor de fanfic, 
              y se desarrollan nuevos papeles para estos..</p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <h1 align="center"><i>Un fanfiction es la ficción sobre la ficción.</i></h1>
           
              <p style="text-align:justify"><font face="Comic Sans MS,arial"> Es la imaginación llevada al extremo; es ese paraíso en el que ocurre 
              todo aquello que no sucede en la obra original. Un fanfic está plagado de locuras, amores prohibidos,
               escenas eliminadas, historias del día a día, argumentos revueltos, personajes en nuevos entornos y 
               sobre todo sexo, mucho sexo.
               Porque, seamos sinceros, el sexo es un bien escaso en el mundo de la ficción, bien sea película, serie, 
               libro o cómic, a no ser que nos vayamos a títulos eróticos por supuesto.
               Simplemente pensad en esas historias en las que el objetivo principal no es mostrar la relación entre 
               los protagonistas, o esas otras en las que te dejan constantemente con la miel en los labios, o esas en 
               las que tu personaje favorito se enrolla con quien no debe.
               Un fanfic arregla todas esas situaciones y más. Arregla muertes, rupturas, momentos íntimos que debieron 
               ser y desgraciadamente no pasaron de la primera fase.
               Tenemos todo tipo de temática en el mundo de los fics, desde Anime, pasando por musicales, hasta videojuegos. </font></p>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <p style="text-align:justify"><font face="Comic Sans MS,arial">Hoy en día los fanfiction son un nuevo subgenero de literatura, Para los no aficionados, 
               fanfic sigue siendo una palabra relacionada con la adolescencia. Literatura de baja calidad -llena de faltas de ortografía- 
               que retuerce un mundo ajeno para conseguir una historia que, en ocasiones, llega a resultar grotesca. Historias 
               basadas en otras historias; vulgares y faltas de originalidad, un producto prescindible al que el tratamiento más 
               respetuoso nos lleva directamente a ignorar.</font></p>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <p style="text-align:justify"><font face="Comic Sans MS,arial">La culpa de esta percepción, que ahora más que nunca es errónea, se debe al paso del género 
               desde el underground que ocupaba durante los sesenta, setenta y ochenta a la cultura pop cuasi masiva durante 
               las dos siguientes décadas. Durante veinte años la literatura por y para fans ha sido ridiculizada desde muchos 
               frentes, que preferían quedarse con la anécdota divertida antes que indagar para descubrir por qué las webs dedicadas
               al fanfiction crecían tan rápidamente ajenas a todo tipo de crítica. Cuentas de Twitter, como fanfics_txt son un 
               recopilatorio bastante divertido del surrealismo imperante en el algunas secciones del fandom que, sin embargo, 
               no es representativo de la mayoría de trabajos que se produce en el género, como muchos se empeñan en creer.</font></p>

            </div>
         <!-- fin entrada individual -->

       </div>

       <!--aside-->
       <div class="col-lg-3">
         <div class="card-body">
           <h4>Personajes</h4>
         <img src="assets/img/vertical.jpeg" alt="" class="img-fluid">
         </div>
       </div>
     </div>
   </div>
   <!--blog-->
   
   <footer>
     <div class="container-fluid py-4 text-center text-light bg-dark">
       <h3>EPE2  Sabina Romero Octubre 2020</h3>
       <h3>sabina.romero@gmail.com</h3>
       <h3>+56 9 5682 3288</h3>
     </div>
   </footer>
    <!--d Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>