<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    <title>Sabina Romero</title>
  </head>
  <body>
    <!--blog-->
   <div class="container">
     <h2 class="my-5 text-center text-primary">¿Qué es un Partner, Socio o Colaborador?</h2>
     <hr>
     <div class="row">
      <!-- entradas -->

<div class="col-lg-9">
         <!-- entrada individual -->
         <div class="card-body">
          <a href="single.html">
            <h1 align="center">Partner, Socio o Colaborador</h1>
          </a>
           <p class="small mb-0">Fecha: 18 de octubre de 2020</p>
           <p class="small mb-0">Sabina Romero</p>
                            
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             
			
            <p style="text-align:justify">  Todo evoluciona, como los conceptos de ciertas palabras.
             Les mostrare algunos ejemplo </p>
             
           
              <p style="text-align:justify"><font face="Comic Sans MS,arial"> Partner, en español compañero, cuyo significado de acuerdo al diccionario es: 
			  Persona que comparte con otra u otras la estancia en un lugar, 
          los estudios, un trabajo o la práctica de un deporte u otra actividad.. </font></p>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			   
               <p style="text-align:justify"><font face="Comic Sans MS,arial">Socio:Persona que pertenece a una agrupación o asociación..</font></p>
			   
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <p style="text-align:justify"><font face="Comic Sans MS,arial">Colaborador:Persona que está siempre dispuesta a colaborar con otros.</font></p>
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			   
			    <p style="text-align:justify"><font face="Comic Sans MS,arial">Hoy en día tienen una definición que mezcla las tres palabraas, 
         esto en el plano empresarial o B2B.
         El concepto actual de estas palabras es personas que interactúa en todo proceso 
         donde se involucre el trabajo de varias personas en  equipo o en grupos como un aspecto 
         intrínseco de la sociedad humana, se aplica en diversos contextos, como la ciencia, el arte, 
         la educación y negocios. Está muy relacionado con la cooperación y la coordinación</font></p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
		<p style="text-align:justify"><font face="Comic Sans MS,arial">En el caso de una página web de servicio técnico sus colaboradores serian, las marcas 
         o proveedores que facilitan los respuestos. Aquí una muestra.</font></p>
		 
         <div align="center"> <img src="assets/img/espacio4/logo-marcas.png"  alt="" class="img-fluid mb-3" width="1000" height="900"> </div>
            </div>
         <!-- fin entrada individual -->

       </div>

       <!--aside-->
       <div class="col-lg-3">
         <div class="card-body">
           <h4>Dios</h4>
         <img src="assets/img/vertical.jpeg" alt="" class="img-fluid">
         </div>
       </div>
     </div>
   </div>
   <!--blog-->
   
   <footer>
     <div class="container-fluid py-4 text-center text-light bg-dark">
       <h3>EPE2  Sabina Romero Octubre 2020</h3>
       <h3>sabina.romero@gmail.com</h3>
       <h3>+56 9 5682 3288</h3>
     </div>
   </footer>
    <!--d Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>